:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #d1d0d0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 450px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
input,
select {
  padding: 0.6rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  box-sizing: border-box;
}
button:hover {
  background-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  width: 640px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 1rem;
  border-radius: 8px;
  background-color: #c7c7c7;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.75rem;

  .delete-button {
    width: fit-content;
    background-color: #ff5c5c;
    color: white;
    margin-left: auto;

    &:hover {
      background-color: #e04747;
    }
  }
}
